
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-center{
    text-align: center;
}
.text-primary{
    color: violet;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.dark-2{
    color: #474747;
}
.secondary-bg{
    background-color: #FFF8F3; 
}
.btn-primary{
    background-color: violet;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 80px;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-pic{
    width: 584px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.about{
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item{
    margin-block: 20px;
    gap: 10px;
}
.item-title{
    color:#757575;
}
.item-description{
    font-weight: 600;
}
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.cv-d{
    margin-top: 50px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}
